@model BattleBits.Web.ViewModels.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Log in using any of the services below.</h4>
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    using (Html.BeginForm("ExternalLogin", "Account", new {ReturnUrl = Model.ReturnUrl})) {
        @Html.AntiForgeryToken()
        foreach (var p in loginProviders) {
             <p>

                 <button type="submit" class="btn btn-social btn-block btn-lg btn-@p.AuthenticationType.ToLowerInvariant()" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                     <i class="fa fa-@p.AuthenticationType.ToLowerInvariant()"></i> Sign in with @p.AuthenticationType
                 </button>
             </p>
         }
    }
}